<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav class="nav">
            <h1 class="title-logo">BookShop</h1>
            <ul class="nav__list">
                <li class="nav__item"><a href="{{ path('app_index') }}" class="nav__link">Home</a></li>
                {% if app.user %}
                <li class="nav__item"><a href="{{ path('app_logout') }}" class="nav__link">Logout</a></li>
                {% else %}
                    <li class="nav__item"><a href="{{ path('app_login') }}" class="nav__link">Login</a></li>
                    <li class="nav__item"><a href="{{ path('app_register') }}" class="nav__link">Register</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav__item"><a href="{{ path('admin') }}" class="nav__link">Admin</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
