{% extends 'base.html.twig' %}

{% block title %}BookShop{% endblock %}

{% block body %}
<section class="section">
    <h2 class="section__title">My Books {{app.user.email}}</h2>
    <button>
        <a href="{{ path('app_book_add') }}">Add Book</a>
    </button>
    {% if books is not empty %}
        <ul class="books">
            {% for book in books %}
                <li>
                    <a href="/book/{{ book.id }}" class="books__item">
                        <img src="{{ asset(book.image) }}" alt="{{ book.title }}" class="books__img">
                        <h3 class="books__title">{{ book.title }}</h3>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books found.</p>
    {% endif %}

    {# <div class="pagination">
        {%if current_page > 1 %}
            <a href="{{ path('app_index', { page: current_page - 1 }) }}">Previous</a>
        {% endif %}
        {% for i in 1..total_pages %}
            <a href="{{ path('app_index', { page: i }) }}" class="{{ current_page == i ? 'active' : '' }}">
                {{ i }}
            </a>
        {% endfor %}
        {% if current_page < total_pages %}
            <a href="{{ path('app_index', { page: current_page + 1 }) }}">Next</a>
        {% endif %}
    </div> #}
</section>
{% endblock %}
