{% extends 'base.html.twig' %}

{% block title %}{{ book.title }} | BookShop{% endblock %}

{% block body %}

<section class="section">
    <div class="book">
        {% if book is not empty %}
            <img src="{{ asset(book.image) }}" alt="{{ book.title }}" class="book__img">
            <div class="book__more">
                <h2 class="book__more-title">{{ book.title }}</h2>
                <p class="book__more-p">{{ book.author }}</p>
                <p class="book__more-p">{{ book.description }}</p>
            </div>
        {% else %}
            <p>Book not found.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
